@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@layer base {
  body {
    @apply font-[Poppins];
    /* background-color: #f1f1f1; */
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
.phone::-webkit-scrollbar {
  display: none;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border: none;
  outline: none;
}

.content-div:hover {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.6),
    hsla(0, 0%, 37%, 0.2)
  ) !important;
  border: none;
  outline: none;
}
